nav {
  justify-content: space-around;
  text-decoration-color: #26984b;
  background: #283350;
  border-bottom: 4px solid #ffb500;
  border-top: 5px solid #ffb500;
  border-left: 5px solid #ffb500;
  border-right: 5px solid #ffb500;
  padding: 1.7rem 0;
  position: relative;
  z-index: 2;
}
nav-links.navbar li a {
  color: white;
}
.nav-links {
  color: red !important;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}

img {
  width: 100%;
  height: auto;
  align-items: center;
  justify-content: space-around;
}

.primary {
  color: rebeccapurple;
}
